body {
  background-color: #81a9b3;
}

.btn {
  cursor: pointer;
}

h1 {
  color: white;
  transition: 0.5s ease-in-out;
  text-align: center;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: fadein 1s linear;
}

.clock {
  position: absolute;
  margin: 0;
  right: 10px;
  font-size: 40px;
  font-family: Verdana, Arial, Sans-serif;
  color: rgb(221, 243, 220);
}

.weather {
  color: black;
  font-size: 60px;
}
