body {
  background-color: #81a9b3;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: fadein 0.5s linear;
}

.clock {
  position: absolute;
  margin: 0;
  right: 10px;
  font-size: 40px;
  font-family: Verdana, Arial, Sans-serif;
  color: rgb(221, 243, 220);
}

.weather {
  font-family: Verdana, Arial, Sans-serif;
  color: black;
  font-size: 20px;
}

/* greeting */
.greeting-form,
.greetings {
  display: none;
}

.greeting-form input {
  border: 1px solid black;
  border-radius: 5px;
}

h1 {
  font-family: Verdana, Arial, Sans-serif;
  color: rgb(255, 251, 251);
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.showing {
  display: block;
}

/* greeting */
